{% extends 'base.html.twig' %}

{% block title %}New Form
{% endblock %}

{% block body %}
	<h1 class="mb-4 text-center">Formulaire de test</h1>
	{{ form_start(form) }}
	{{ form_row(form.name) }}

	{{ form_row(form.type, {
            'attr': {
                'data-select2': true,
                'class': 'form-control select2',
            }
        }) }}
	{{ form_row(form.description) }}
	{{ form_rest(form) }}
	<button type="submit" class="btn btn-primary">Valider</button>
	{{ form_end(form) }}
{% endblock %}
